

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding-right: 50px;
  padding-left: 50px;
}

.header__menu {
  margin: 133px 0 138px 0;
}

.header__links-list {
  display: flex;
  gap: 32px;
  font-size: 18px;
  list-style: circle;
}

.header__links-list-item {
  padding-left: 7px;
  line-height: 24.3px;
  text-decoration: underline;
}

.header__link_active {
  padding-left: 0;
  text-decoration: none;
  list-style: none;
}

.header__logo {
  margin: 92px 0 96px 0;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  font-size: 18px;
  font-style: normal;
}

.header__address {
  justify-self: end;
  max-width: 240px;
}

.address__links-list {
  list-style: none;
}

.address__link {
  text-decoration: underline;
}

.cover {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 757px;
  margin-bottom: 180px;
  padding: 165px 50px 50px 50px;
  color: #ffffff;
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba(0 0 0 / 0.6);
}

.cover__title {
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 28px;
  text-transform: uppercase;
}

.letter-spacing-extended {
  letter-spacing: 27px;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: start;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: end;
}

.cover__description {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 13px;
}

.bet-button {
  border: 1px solid #ffffff;
  padding: 12px 32px 11px 31px;
  color: #ffffff;
  font-size: 22px;
  text-transform: uppercase;
  background: transparent;
}

.lots {
  margin: 0 24px 120px 24px;
}

.lots__heading {
  margin: 0 0 27px 40px;
}

.section__heading {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 30px;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  color: #ffffff;
}

.card-link {
  height: 100%;
}

.card {
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link {
  margin: 0 0 0 40px;
  font-size: 20px;
  text-decoration: underline;
}

.about {
  display: grid;
  grid-template-columns: 334px auto;
  column-gap: 25px;
  margin: 0 24px 180px 24px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  margin-left: 47px;
  border-radius: 50%;
  background-color: #000000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.about__title {
  padding: 136px 0 100px 0;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  line-height: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 264px 164px 240px;
  justify-content: space-between;
  padding: 0 50px 82px 50px;
}

.footer__menu-list {
  text-align: center;
  list-style: none;
}

.footer__menu-list-item {
  text-decoration: underline;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  list-style: none;
}

.footer__social-list-item {
  width: 48px;
  height: 28px;
}
